@media(max-width:950px) and (min-width:576px) {
    .faceImg img {
        width: 150px;
        height: 150px;
    }
}

@media(max-width:600px) and (min-width:501px) {
    .sub-text {
        top: 50%;
    }
}

@media(max-width:500px) and (min-width:371px) {
    .introTitle {
        top: 30%;
    }

    .sub-text {
        top: 40%;
    }
}

@media(max-width:370px) {
    .introTitle {
        top: 20%;
    }

    .sub-text {
        top: 25%;
    }
}