$titleColor: rgb(255, 193, 7);
$titleFont: 'Lilita One',
    cursive;
$writingFont: 'Signika',
    sans-serif;
$writingColor: #f4db92;
$navbarFont: "passion one";
$deepPurple: rgb(101, 34, 135);
$footerColor: rgba(32, 2, 59, 0.9);